name: Create releases

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Create ZIP
        uses: TheDoctor0/zip-release@0.7.6
        with:
          type: "zip"
          filename: "stencils.zip"
          exclusions: "*.git* *.kicad_pcb *.kicad_pro *.kicad_sch *.yml *.MD .gitignore"
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: "stencils.zip"
